.main{
	overflow: auto;
	&__avatar{
		width: 15.625rem;
		border-radius: 50%;
		float: left;
		margin-right: 24px;
		object-fit: cover;
	}
	&__descr{
		width: 70%;
	}
}
@media screen and(max-width: 39.5rem){
	.main{
		display: flex;
		flex-direction: column;
		& > * {
			margin: 0 auto;
		}
		&__avatar{
			float: none;
			width: 12.5rem;
			height: 12.5rem;
			margin-bottom: 24px;
		}
		&__descr{
			text-align: center;
			padding-left: 0;
		}
	}
}