@import "./var";
.main{
	overflow: auto;
	&__education{
		font-weight: bold;
		color: $decorColor;
		line-height: 1.3;
	}
	&__avatar{
		width: 15.625rem;
		border-radius: 50%;
		float: left;
		margin-right: $mainOffset;
		object-fit: cover;
	}
	&__descr{
		width: 60%;
	}
}
@media screen and(max-width: $mobile_break_point){
	.main{
		display: flex;
		flex-direction: column;
		& > * {
			margin: 0 auto;
		}
		&__avatar{
			float: none;
			width: 12.5rem;
			height: 12.5rem;
			margin-bottom: $mainOffset;
		}
		&__descr{
			text-align: left;
			line-height: 1.2;
			padding-left: 0;
		}
	}
}