@import "./var";
.skill{
	display: grid;
	text-align: center;
	grid-template-columns: repeat(4,1fr);
	grid-gap: 40px;
	&__title{
		margin-bottom: $mainOffset;
	}
	&__item{
		background: $secondBg;
		// text-align: center;
		padding: ($mainOffset * 2) $mainOffset;
	}
}
svg{
	max-width: 70%;
}
@media screen and(max-width: $tablet_break_point)
{
	.skill{
		grid-template-columns: repeat(2,1fr);
		grid-gap: 25px;
	}
	svg{
		max-width: 100%;
	}
}

